*
{
    margin:0px;
    padding:0px;
}
body
{
     background-color: #ffffff;
}
span
{
    color: #003566;

}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
   transform: scale(1.1);
   color: #05668d;
}
header
{
    display:flex;
    justify-content: space-between;
    background-color: black;
    height:80px;
    position: sticky;
}
.menu
{
    padding-top: 5px;
}
.menu li
{
    
    display:inline-flex;
    padding:20px 20px;
    font-size: larger;
    font-family: Calibri;
    font-weight: bolder;
}
.name
{
    color: white;
    font-weight: bolder;
    padding: 20px;
    font-size: 30px;
}
.name:hover
{
    color: #05668d;
}
.container1
{
    width: auto;
    height: 450px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
p
{
 font-size: 20px;
 text-align: justify;
}
h1
{
    font-size: 35px;
}
#head2
{
    font-size: 30px;
    font-weight: bolder;
}
#but1,#but2
{
    background-color: #028090;
    width: 200px;
    height: 40px;
    padding:10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    margin-right: 25px;
}
#cont1  
{
    position: relative;
    top: 80px;
    left: 50px;
}
.container2
{
    height: 300px;
    width: 100%;
     font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    margin: 50px;
}
.box
{
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 10px;
    box-shadow:2px 2px 5px 5px #a8dadc;
    position: relative;
}
.box:hover
{
    transform: scale(1.1);
}
#image
{
width:90px ;
height: 90px;
padding: 30px;
}
#head5,#head11,#head12,#head13
{
    margin-left: 50px;
}
#head6
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 35px;
    left: 65px;
}
#head7  
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 35px;
    left: 75px;
}
#head8,#head9 
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 35px;
    left: 35px;
   
}
#head10
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 35px;
    left: 60px;
   
}
.container3
{
    display: flex;
   justify-content: space-evenly;
    align-items: flex-start;
    
}
.boxs
{
    height: 200px;
    width: 320px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    margin-right: 80px;
    box-shadow:2px 2px 5px 5px #a8dadc;

}
.boxs:hover
{
    transform: scale(1.1);
}
.boxs h3
{
    text-align: center;
    padding: 30px;
    font-weight: bolder;
    font-size: 20px;
}
.boxs h4
{
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}
.container4
{   
    display: flex;
   justify-content: center;
    align-items: flex-start;
}
.boxz
{
    height: 430px;
    width: 320px;
    background-color: whitesmoke;
     margin: 20px;
    border-radius: 10px;
    box-shadow:2px 2px 5px 5px #a8dadc;
    margin-right: 70px;
}
.boxz:hover
{
    transform: scale(1.1);
}
#i1
{
    width: 320px;
    height:240px;
    border-radius: 10px;
}
.boxz h2
{
    font-size: 24px;
    padding-top: 15px;
    padding-left: 15px;
}
.boxz h3
{
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
}
#but3
{
    height: 30px;
    width: 120px;
    background-color:#028090;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 10px;
    
}
.container5
{   
    display: flex;
   justify-content: center;
    align-items: flex-start;
}
.boxyz
{
  height: 180px;
    width: 350px;
    background-color: whitesmoke;
     margin: 20px;
    border-radius: 10px;
    box-shadow:2px 2px 5px 5px #a8dadc;
    margin-right:50px ;
}
.boxyz:hover
{
transform: scale(1.1);
}
i
{
    padding-top: 20px;
    padding-right: 20px;
}
.boxyz h1,h2
{
    padding-right: 20px;
    padding-top: 10px;
}
.container6
{   
    display: flex;
   justify-content: center;
    align-items: flex-start;
}
